{% extends 'includes/index.html' %}

{% block title %}
    Календарь
{% endblock %}

{% block main %}
    <section class="container">
        {% if date_error %}
            <h1>Такай даты не существует 🥶</h1>
        {% else %}
            <div class="clearfix">
                <a class="btn btn-info left" href="{% url 'schedule:schedule' %}?{{ prev_month }}"> Предыдущий месяц </a>
                <a class="btn btn-info right" href="{% url 'schedule:schedule' %}?{{ next_month }}"> Следующий месяц </a>
            </div>
            {{ calendar|safe }}
        {% endif %}
    </section>
{% endblock %}