{% extends 'includes/index.html' %}

{% load static %}

{% block title %}
    Календарь
{% endblock %}

{% block main %}
    <section class="container">
        {% if date_error %}
            {{ date_error }}
        {% else %}
            <div class="clearfix">
                <a class="btn btn-info left" href="{% url 'schedule:schedule' %}?{{ prev_month }}"> Предыдущий месяц </a>
                <a class="btn btn-info right" href="{% url 'schedule:schedule' %}?{{ next_month }}"> Следующий месяц </a>
            </div>
            {{ calendar|safe }}
        {% endif %}
    </section>
{% endblock %}

{% block css %}
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({html: true});
        });
    </script>
{% endblock %}
