{% extends 'includes/index.html' %}

{% block title %}
    Митап: {{ meetup.name }}
{% endblock %}

{% block main %}
    <section class="container">
        <div class="row">
            <h1>
                {{ meetup.name }}
            </h1>
        </div>

        <hr>

        <div class="row">
            <div class="col">
                {% include 'meetup/left-side.html' %}
            </div>
            <div class="col">
                {% include 'meetup/right-side.html' %}
            </div>
        </div>


    </section>
{% endblock %}
