{% load i18n static djeymtags maptags %}
<div id="map" class="map">
    <div id="djeym-app" class="djeym"></div>
    <script type="text/javascript" src="{% static "djeym/js/jquery.min.js" %}"></script>
    <script src="{% static "djeym/js/jquery-regex.min.js" %}"></script>
    {% comment %}
         в 'map_slug' в контексте должно быть записано значение поля slug нужной карты
         в 'filters' в контексте должен быть словарь поисковых фильтров по типу {'name': 'value', ...}
         все фильтры можно посмотреть в meetups/managers.py MeetupManager.get_meetups_from_context()
    {% endcomment %}
    {% djeym_yandex_map_filter slug=map_slug filters=filters lang=request.LANGUAGE_CODE %}
</div>