<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card m-auto">
            <div class="card-body">
                <div class="card-title">
                    <h3>
                        Поиск
                    </h3>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex align-items-center">
                        <input type="hidden" name="type" value="search">

                        <input class="form-control flex-shrink-1 form-control-borderless"
                               type="search" placeholder="Найди по названию" name="search"/>

                        <button class="btn btn-primary  m-2" type="submit">Найти</button>
                    </div>

                    <p class="mt-3 ms-1">
                        <a class="link-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                           aria-expanded="false" aria-controls="collapseExample">
                            Расширенный поиск
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample">

                        <label for="category" class="form-label">Категория</label>
                        <input class="form-control" list="categoryOptions" id="category"
                               placeholder="Напишите чтобы найти">
                        <datalist id="categoryOptions">
                            {% for tag in tags %}
                                <option value="{{ tag.name }}">
                            {% endfor %}
                        </datalist>

                        <div class="row row-cols-auto mt-4">
                            <div class="col">
                                <label for="from-date" class="form-label">
                                    От какой даты
                                </label>
                                <input type="date" id="from-date" class="form-control">
                            </div>

                            <div class="col">
                                <label for="to-date" class="form-label">
                                    До какой даты
                                </label>
                                <input type="date" id="to-date" class="form-control">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>