{% extends 'includes/index.html' %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <section class="container">
        <h1>Профиль</h1>
        <div>
            <p><strong>Я</strong> очень крут</p>
        </div>

        <h3>Изменить данные</h3>
        <div class="container">
            <form action="" method="post">
                {% csrf_token %}
                {% for field in user_form %}
                    <div class="mb-3">
                        {{ field.errors }}
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        <input
                                {% if field.widget_type == 'clearablefile' %}
                                    type="file"
                                {% else %}
                                    type="{{ field.widget_type }}"
                                {% endif %}
                                    class="form-control"
                                    name="{{ field.name }}"
                                    autocomplete="{{ field.subwidgets.0.data.attrs.autocomplete }}"
                                {% if field.subwidgets.0.data.value %}
                                    value="{{ field.subwidgets.0.data.value }}"
                                {% endif %}
                        >
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Изменить</button>
            </form>
            <a class="btn btn-danger mt-3" href="{% url 'logout' %}">Выйти</a>
        </div>
    </section>
{% endblock %}